


// Theme Happy Blue
$hb--blue: #232946;
$hb--white: #fffffe;
$hb--purple-light: #b8c1ec;
$hb--pink: #eebbc3;
$hb--black: #121629;

// Theme Christmas green
$cg--green: #004643;
$cg--white: #fffffe;
$cg--green-light: #abd1c6;
$cg--yellow: #f9bc60;
$cg--black: #001e1d;
$cg--red: #e16162;




// Font size
$default-font-size: 1.6rem;